.editor-wrapper {
  display: flex;
  flex-direction: column;
  .bf-content {
    height: calc(100vh - 290px);
    box-shadow: 0px 0px 16px 6px #eee;
    h1 {
      font-size: 1.8em;
    }
  }
  .bf-container .public-DraftEditor-content {
    min-height: 500px;
  }
}
.submit-btn {
  text-align: center;
  margin-top: 10px;
}

.my-modal {
  .bf-modal-body {
    overflow: auto;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
  }
}
